@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

html {
  --color-1: #141414;
  --color-2: #292929;
  --color-3: #888888;
  --color-4: #fafafa;
  --color-5: #47cc8e;
  --color-6: #dd6c66;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  padding: 4rem 1rem;
  margin: 0px;
  --type-first: Manrope, Arial, sans-serif;
  font-family: var(--type-first);
  background-color: var(--color-1);
  color: var(--color-4);
}

h1,
h2,
h3,
h3,
p {
  margin: 0px;
}
a,
a:visited {
  text-decoration: none;
  color: #fafafa;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}
button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
}
.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
